<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>I develop with passion apps and websites.</h1>
                <p>I am constantly learning new tecnologies and developing apps for hobby. This website was built from scratch using Python and Flask. I still want to know more about this world!</p>
            </div>
            <div class="right padded">
                <h1>We can talk about anything!</h1>
                <p>Just send me an email <a class="blue" href="#contact">clicking here.</a></p>
            </div>
        </div>
    </div>
</div>
