<div class="center padded white-bg">
    <div class="content padded">
        <div class="padded">
            <h1>Not convinced yet? Look at my work</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>An app that automatically send an email using Sendgrid's API.</p>
                <a class="blue" target="_blank" href="http://lptxgfshqw.us09.qoddiapp.com">Link to app</a>
            </div>
            <div class="card third">
                <h3>Client manager</h3>
                <p>App to manage different clients infromation.</p>
                <a class="blue" href="{{ url_for('static', filename='libreta-clientes{crm}') }}">Link to app</a>
            </div>
            <div class="card third">
                <h3>ToDo-er</h3>
                <p>App to create, delete, and mark as checked a list of To Do.</p>
                <a class="blue" href="{{ url_for('static', filename='todo-list') }}">Link to app</a>
            </div>
        </div>
    </div>
</div>
